{% extends "bootstrap/base.html" %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='annotate.js')}}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='annotate.css')}}">
{% endblock %}


{% block title %}Matcher Annotate{% endblock %}


{% block content %}
  <h1>Matcher Annotate</h1>
  <div class="container-fluid">
    <div class="message">
      Data are loading
    </div>
    <div class="row">
      <div>
        <span>
          <strong>
            Matcher type :
          </strong>
        </span>
        <span class="type"></span>
      </div>
      <div>
        <span>
          <strong>
            Query :
          </strong>
        </span>
        <span class="query"></span>
      </div>
      <div>
        <span>
          <strong>
            Strategy :
          </strong>
        </span>
        <span class="strategy"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row expected">
          <h2>Expected</h2>
          <div>
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row matched">
          <h2>Matched</h2>
          <div>
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row actions">
      <div class="col-md-3 text-left">
        <button class="btn btn-primary previous">
          < Previous
        </button>
      </div>
      <div class="col-md-6 text-center btn-group" data-toggle="buttons">                            
        <label class="btn btn-primary">
          <input name="annotateAction" type="radio" value="add">Add
        </label>
        <label class="btn btn-primary">
          <input name="annotateAction" type="radio" value="replace">Replace
        </label>
        <label class="btn btn-primary">
          <input name="annotateAction" type="radio" value="nothing">Nothing
        </label>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-primary next">
          Next >
        </button>
        <a class="btn btn-primary done" href="./">
          Done
        </a>
      </div>
    </div>
  </div>
{% endblock %}
