{% extends "bootstrap/base.html" %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='home.js')}}"></script>
{% endblock %}

{% block title %}Matcher Annotate{% endblock %}

{% block content %}
  <h1>Matcher Annotate</h1>
  <div class="actions">
    <div>
      <span>
        0. Check matcher is running and initialized ???
      </span>
      <button class="btn btn-primary">
        Todo
      </button>
    </div>
    <div>
      <span>
        1. Matcher check strategies
      </span>
      <button class="btn btn-primary check">
        Go !
      </button>
    </div>
    <div>
      <span>
        2. Annotate matcher errors
      </span>
      <a class="btn btn-primary" href="./annotate">
          Go !
      </a>
    </div>
    <div>
      <span>
        3. Save annotations
      </span>
      <button class="btn btn-primary save">
        Todo
      </button>
    </div>
  </div>
  <div class="results"></div>
{% endblock %}
